<div class="centerdiv">
    <div class="form-group">
      <label for="email">pseudo :</label>
      <input type="text" id="email" class="form-control" formControlName="email">
    </div>
    <div class="form-group">
        <label for="email">mot de passe :</label>
        <input type="text" id="email" class="form-control" formControlName="email">
      </div>
    <!-- <div class="form-group">
      <label for="mdp">Mot de passe :</label>
      <input type="password" id="mdp" class="form-control" formControlName="mdp">
    </div> -->
    <button class="btn btn-primary">
        Modifier
      </button>
  </div>