
  <!-- <h4 [ngStyle]="{color: getColor()}">étudiant : {{ studentName }} -- Statut : {{ getStatus() }}</h4>
  <input type="text" class="form-control" [(ngModel)]="studentName">
  <input type="text" class="form-control" [(ngModel)]="studentStatus">
  <button class="btn btn-sm btn-success" *ngIf="studentStatus === 'absent'" (click)="onSwitch()">Présent</button>
  <button class="btn btn-sm btn-danger" *ngIf="studentStatus === 'present'" (click)="onSwitch()">Absent</button>
  <a [routerLink]="[id]">Détail</a> -->
  <div class="card match ">
    <h5 class="card-header">Match {{ id }}</h5>
    <div class="card-body card-body-faris">
      <h5 class="centerdiv">{{ score1 }} - {{ score2 }}</h5>
      <div class="equipes">
        <h5 class="card-title">{{ equipe1 }}</h5>
        <h5 class="card-title">{{ equipe2 }}</h5>
      </div>


      <p class="card-text">Informations complémentaires liées aux matchs ci-dessus, voir ce qu'on peut mettre dedans.</p>
      <a [routerLink]="[id]" class="btn btn-primary">Plus d'infos</a>
    </div>
  </div>

