<div class="centerdiv">
  <div class="card">
    <div class="card-body">
      <app-team id="teamHome" [events]="events1" [team]="equipe1" [home]="True" [linkImage]="linkImgHome" [score]="score1"></app-team>
      <app-middlematch [stade]="stade" [status]="status" [date]="date"></app-middlematch>
      <app-team id="teamAway" [events]="events2" [team]="equipe2" [home]="False" [linkImage]="linkImgAway" [score]="score2"></app-team>
      <a routerLink="/scores">Retour à la liste</a>
    </div>
  </div>
</div>