<!-- <div class="centerdiv">
    <div class="equipes">
        <h2>{{ equipe1 }}</h2>  <h2>{{ equipe2 }}</h2>
      </div>
    <p>Statut : {{ status }}</p>
    
</div> -->
<div class="centerdiv">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title centerdiv"><strong>{{ equipe1 }}</strong> {{score1}} - {{score2}} <strong>{{ equipe2 }}</strong></h5>
      <app-events-match *ngFor="let event of events;" [event]="event"></app-events-match>
      <a routerLink="/scores">Retour à la liste</a>
    </div>
  </div>
</div>