<!-- <div class="centerdiv">
    <div class="equipes">
        <h2>{{ equipe1 }}</h2>  <h2>{{ equipe2 }}</h2>
      </div>
    <p>Statut : {{ status }}</p>
    
</div> -->
<div class="centerdiv">
  <div class="card">
    <img src="/assets/img/foot.jpg" class="card-img-top" alt="img foot">
    <div class="card-body">
      <h5 class="card-title centerdiv">{{ equipe1 }} - {{ equipe2 }}</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <a routerLink="/score">Retour à la liste</a>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>