<div classname="wrapper fadeInDown " class="centerdiv">
  <h2>Authentification</h2>
  <form [formGroup]="authForm" (ngSubmit)="onSignIn()" class="centerdiv">
    <div *ngIf="!authStatus" class="form-group">
      <label for="email">E-mail :</label>
      <input
        type="text"
        id="email"
        class="form-control"
        formControlName="email"
      />
    </div>
    <div *ngIf="!authStatus" class="form-group">
      <label for="mdp">Mot de passe :</label>
      <input
        type="password"
        id="mdp"
        class="form-control"
        formControlName="mdp"
      />
    </div>
    <button type="submit" class="btn btn-success" *ngIf="!authStatus">
      Se Connecter
    </button>
  </form>
  <button class="btn btn-danger" *ngIf="authStatus" (click)="onSignOut()">
    Se Déconnecter
  </button>
  <button class="btn btn-success mt-4" (click)="onCreateAccount()">
    S'inscrire
  </button>
</div>
